/* Form */
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-left: 5rem;
}

.input{
    width: 100%;
    padding: 0.8rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    background-color: #E7DFC6;

}

.btn_submit {
    width: 100%;
    height: 2rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    background-color: #E7DFC6;
    cursor: pointer;
    border: none;
}

/* Media queries */
@media screen and (max-width:765px) {
    .form{
        width: 100%;
        max-width: 100%;
        margin-left: 0;
    }

    
}